// bread crumb styles
.breadcrumbs {
  margin-top: 62px;
  margin-bottom: 50px;
  &__title {
    @include montserrat;
  }
  &__list {
    display: flex;
    margin-top: 15px;
  }
  &__item:not(:last-child)::after {
    content: url(../../img/icons/vector_crumb.svg);
    margin: 10px;
  }
  &__link {
    @include crimson-text;
    color: $color-text;
  }
  &__link--translucent {
    opacity: 0.5;
    margin-left: 10px;
  }
  &__link--indent {
    margin-left: 10px;
  }
}