// styles for "form" contact us and pop-up
.contact-form {
  background: #E5EAF8;
  padding: 40px 42px;
  width: 680px;
  &__input-name {
    display: block;
    padding-left: 20px;
    width: 100%;
    height: 50px;
    margin-top: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    &::-webkit-input-placeholder{ 
      color: $color-text;
    }
  }
  &__wrapped-fields {
    display: flex;
    margin-top: 18px;
  }
  &__input-phone, &__input-email {
    display: block;
    width: 289px;
    height: 50px;
    margin-right: 20px;
    margin-top: 3px;
    margin-bottom: 19px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 20px;
  }
  &__input-message {
    display: block;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 3px;
    resize: none;
    width: 100%;
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    
    &:hover {
      outline: none;
      border: 1px solid $primary-color;
      transition: $primary-transition;
    }
    &:focus {
      outline: none;
      border: 1px solid $primary-color;
    }
    &:disabled {
      outline: none;
      border: 1px solid #f5f5f5;
    }
  }
  &__wrap-processing {
    margin-bottom: 15px;
  }
  &__label, &__input-name,
  &__input-phone, &__input-email, 
  &__input-message {
    @include roboto;
  }
}

@media (max-width: 767px) {
  .contact-form {
    width: 96%;
    &__wrapped-fields {
      display: block;
    }
    &__input-phone, &__input-email {
      width: 100%;
    }
    &__label, &__input-name,
    &__input-phone, &__input-email, 
    &__input-message {
      @include roboto ($font-size: 12px);
    }
  }
}