// styles for header
.header {
  display: flex;
  align-items: center;
  margin-top: 50px;
  &__logo {
    @include image-property (100px, 52px);
    background-image: url(../../img/icons/logo.svg);
    &:hover {
      opacity: 0.5;
       transition: $primary-transition;
    }
    &:active {
      opacity: 0.1;
    }
  }
  &__nav-list {
    display: flex;
    margin-left: 59px;
  }
  &__nav-item {
    margin-right: 18px;
  }
  &__nav-link {
    @include open-sans ($line-height: 19px, $font-size: 14px);
    color: $color-text;
    text-transform: uppercase;
    &:hover {
      opacity: 0.5;
      transition: $primary-transition;
    }
    &:active {
      opacity: 0.1;
    }
  }
  &__contact-wrapper {
    margin-left: auto;
  }
  &__search-btn:hover {
    opacity: 0.5;
     transition: $primary-transition;
    &:active {
      opacity: 0.1;
    }
  }
  &__nav-contact {
    @include open-sans ($line-height: 19px, $font-size: 14px, $font-weight: 700);
    color: $color-text;
    text-transform: uppercase;
    margin-left: 19px;
    &:hover {
      opacity: 0.5;
      transition: $primary-transition;
    }
    &:active {
      opacity: 0.1;
    }
  }
  &__audio {
    height: 19px;
    margin-left: 55px;
  }
}
