// styles for header
.header {
  display: flex;
  align-items: center;
  margin-top: 50px;
  &__logo {
    @include image-property (100px, 52px);
    background-image: url(../../img/icons/logo.svg);
    &:hover {
      @include transformation;
    }
    &:active {
      opacity: 0.1;
    }
  }
  &__burger-menu{
    display: none;
  }
  &__nav-list {
    display: flex;
    margin-left: 59px;
  }
  &__nav-item {
    margin-right: 18px;
  }
  &__nav-link {
    @include open-sans ($line-height: 19px, $font-size: 14px);
    color: $color-text;
    text-transform: uppercase;
    &:hover {
      @include transformation
    }
    &:active {
      opacity: 0.1;
    }
  }
  &__contact-wrapper {
    margin-left: auto;
  }
  &__search-btn:hover {
    @include transformation;
    &:active {
      opacity: 0.1;
    }
  }
  &__nav-link--bold-font {
    @include open-sans ($line-height: 19px, $font-size: 14px, $font-weight: 700);
     margin-left: 19px;
  }
}

// .mobile-header {
//   // display: none;
//   position: fixed;
//   top: 0;
//   left: 0;
//   height: 100%;
//   width: 100%;
//   background: rgba(125, 151, 218, 0.8);
//   // transform: translateY(-1000px);
//   // transition: .4s;
// }
.mobile-header__nav-item {
 text-align: center;
 margin-bottom: 20px;
}
.mobile-header__nav-link {
  @include open-sans ($line-height: 19px, $font-size: 14px);
    color: $color-text;
    text-transform: uppercase;
}
.mobile-header__nav-link:hover {
  @include transformation
}
.mobile-header__nav-link:active {
  opacity: 0.1;
}
.mobile-header__nav-link--bold-font {
  @include open-sans ($line-height: 19px, $font-size: 14px, $font-weight: 700);
}
.mobile-header__open {
  display: block;
}





@media (max-width: 811px) {
  .header__burger-menu {
    @include open-sans ($line-height: 19px, $font-size: 14px);
    text-transform: uppercase;
    display: block;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .header__nav-list {
    margin: auto;
    display: block;
  }
  .header__nav-item {
    margin-right: 0;
  }
  .header__nav-link {
    display: none;
  }
  .header__contact-wrapper {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .header__burger-menu {
    @include open-sans ($font-size: 12px);
  }
  .mobile-header__nav-link {
    @include open-sans ( $font-size: 12px); 
  }
}