// styles for pagination
.pagination {
  margin-top: 29px;
  margin-bottom: 59px;
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__vector-left{
    @include image-property;
    background-image: url(../../img/icons/vector_pagination_1.svg);
    &:hover {
      @include image-property;
      background-image: url(../../img/icons/vector_pagination_hover.svg); 
      transform: rotate(-180deg);
      transition: $primary-transition;
    }
    &:active {
      @include image-property;
      background-image: url(../../img/icons/vector_pagination_active.svg); 
      transform: scale(1, 1);
    }
  }
  &__list {
    display: flex;
  }
  &__digit {
   @include montserrat($line-height: 20px, $font-size: 16px);
    padding: 33px;
    cursor: pointer;
    &:hover {
      color: $primary-color;
      transition: $primary-transition;
    }
    &:active {
      color: #AAAAAA;
    }
  }
  &__vector-right {
    @include image-property;
    background-image: url(../../img/icons/vector_pagination_2.svg);
    &:hover {
      @include image-property;
      background-image: url(../../img/icons/vector_pagination_hover.svg);
      transform: rotate(360deg);
      transition: $primary-transition;
    }
    &:active {
      @include image-property;
      background-image: url(../../img/icons/vector_pagination_active.svg);

    }
  }
}

@media (max-width: 1179px) {
  .pagination {
    margin-bottom: 50px;
  }
}


@media (max-width: 767px) {
  .pagination__digit {
    @include montserrat ($line-height: 17px, $font-size: 14px);
    padding: 25px;
  }
}