// styles for site positioning
.container {
  max-width: 1180px;
  margin: 0 auto;
}
@media (max-width: 1180px) {
  .container {
    padding: 0 30px;
  }
}
@media (max-width: 767px) {
  .container-reset {
    padding: 0;
  }
}



// resetting standard browser styles
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


// standard image style
img {
  display: block;
  max-width: 100%;
  height: auto;
}


// styles for titles and body
body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-text;
  margin: 0px;
  padding: 0px;
}
h1, h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}


// styles for entering text fields
input:hover {
  outline: none;
  border: 1px solid $primary-color;
  transition: $primary-transition;
}
input:focus {
  outline: none;
  border: 1px solid $primary-color;
}
input:disabled {
  outline: none;
  border: 1px solid #f5f5f5;
}


// styles for input checkbox
.custom-checkbox {
  @include reset-standard;
}
.checkbox-label {
  @include open-sans;
  display: flex;
  align-items: center;
}
.custom-checkbox+.checkbox-label::before {
  content: ''; 
  display: inline-block; 
  width: 19px;
  height: 19px; 
  border: 2px solid $primary-color; 
  background: #FFFFFF;
  border-radius: 3px; 
  margin-right: 14px; 
  cursor: pointer;
}
.custom-checkbox:checked+.checkbox-label::before {
  background-image: url(../img/icons/frame_check2.svg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 95%;
}

@media (max-width: 767px) {
  .checkbox-label {
    @include open-sans ($line-height: 19px, $font-size: 14px);
  }
}

@media (max-width: 525px) {
  .custom-checkbox+.checkbox-label::before {
   padding: 6px;
  }
}


// general style when hovering over input text
.custom-checkbox, 
.input-radio, 
.checkbox-label:hover {
  text-decoration: underline;
  cursor: pointer;
}


// styles for the button
.button-link {
  @include open-sans ($font-weight: 700);
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 10px 20px;
  max-width: max-content;
  background: black;
  border: none;
  cursor: pointer;
  transition: $primary-transition;
  &:hover {
    background: $primary-color;
  }
  &:active {
    background-color: #cfaf91;
  }
  &:disabled {
    background: #c7c1c1;
  }
}
@media (max-width: 767px) {
  .button-link {
    @include open-sans($line-height: 20px, $font-size: 14px, $font-weight: 700);
  }
}


// style for hidden title
.hidden-title {
  display: none;
}


// style for the catalog
.catalog-images {
  background-color: #EEE4DB;
}
.catalog-images__width {
  max-width: none;
}
.catalog-link {
  @include montserrat ($line-height: 32px, $font-size: 38px);
  position: absolute;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #FFFFFF;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    text-decoration: underline;
  }
}

@media (max-width: 1023px) {
  .catalog-link {
    @include montserrat ($line-height: 25px, $font-size: 20px);
  }
}

@media (max-width: 767px) {
  .catalog-link {
    @include montserrat ($line-height: 22px, $font-size: 20px);
  }
  .catalog-images__width {
    width: 247px;
    height: 238px;
  }
}

@media (max-width: 400px) {
  .catalog-link {
    @include montserrat ($line-height: 18px, $font-size: 15px);
  }
}