@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";

/*
  Import all other blocks
*/
@import "_blocks/footer";
@import "_blocks/header";
@import "_blocks/pagination";
@import "_blocks/contactForm.scss";
@import "_blocks/breadcrumbs.scss";

/*
  Ниже пример подключения других блоков

  Каждый новый файл должен отвечать за конкретный блок в терминах БЭМ
  (https://ru.bem.info/methodology/key-concepts/#%D0%B1%D0%BB%D0%BE%D0%BA)

  Для именования селекторов давайте придерживаться стиля two dashes
  (https://ru.bem.info/methodology/naming-convention/#%D1%81%D1%82%D0%B8%D0%BB%D1%8C-two-dashes)
  block-name__element-name--modificator
*/

/*
  Код ниже нужно удалить, он добавлен просто для примера
  Не стал выносить в отдельный файл, но если бы блок coming-soon действительно был бы нужен,
  то он должен был бы быть в файле _blocks/coming-soon.scss
*/



// stylization of the index page

// styles for the "banner"
.banner{
  margin-top: 128px;
  position: relative;
  display: flex;
  column-gap: 45px;
  background: #eee4db;
  &__slider-menu {
    margin-top: 15px;   
  }
  &__digits {
    @include montserrat ($font-style: normal, $line-height: 73px,  $font-size: 60px, $font-weight: 200);
    margin-left: 28px;
    color: rgba(30, 6, 6, 0.06);
  }
  &__list {
    margin-left: 31px;
  }
  &__item {
    margin-bottom: -8px;
  }
  &__btn {
    width: 32px;
    height: 3px;
    background: #D6CAC2;
    border: none;
    cursor: pointer;
    &:hover {
      background: rgba(30, 6, 6, 0.6);
    }
  }
  &__btn--brown {
    @extend .banner__btn;
    background: rgba(30, 6, 6, 0.6);  
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    row-gap: 21px;
    max-width: 307px;
    margin: 89px 0 89px 0;
  }
  &__title {
    @include montserrat;
    margin-top: 3px;
  }
  &__text {
    @include crimson-text;
    margin-top: -9px;
  }
  &__img {
    position: absolute;
    width: 630px;
    height: 462px;
    left: 448px;
    top: -88px;
  }
}
.text-offer {
  @include open-sans ($line-height: 16px,  $font-size: 12px, $font-weight: 700);
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  background: $primary-color;
  padding: 11px;
}


// styles for "category products"
.category-products {
  margin-top: 92px;
  &__title {
    @include montserrat ($font-size: 38px);
    margin-bottom: 30px;
  }
  &__list {
    display: flex;
  }
  &__item {
    position: relative;
    margin-right: 15px;
  }
  &__wrap {
    display: flex;
    margin-top: 33px;
  }
  &__btn {
    @include image-property(36px, 37px);
    background-image: url(../img/icons/vector_to_the_left.svg);
    background-position: center;
    background-color: rgba(112, 187, 220, 0.2);
    margin-right: 6px;
    border: none;
    cursor: pointer;
  }
  &__btn--right {
    @extend .category-products__btn;
    background-image: url(../img/icons/vector_to_the_right.svg);
  }
  &__text {
    @include open-sans;
    margin-left: 23px;
    max-width: 560px;
  }
}


// styles for "delivery"
.delivery {
  margin-top: 85px;
  display: flex;
  column-gap: 60px;
  &__shift {
    margin-left: 60px;
  }
  &__img {
    background-color: #c6deea;
  }
  &__wrapper {
    margin-top: 31px;
    width: 540px;
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__title {
    @include montserrat ($font-size: 38px);
    margin-bottom: 6px;
  }
  &__background-text {
    @include crimson-text($font-weight: 700);
    background-color: #70BBDC33;
    padding: 13px 192px 15px 61px;
    display: inline-block;
  }
  &__service-text {
    @include crimson-text;
    margin-top: 12px;
  }
  &__service-text--interval {
    @include crimson-text;
    margin-top: 28px;
  }
  &__narration {
    @include open-sans;
    margin-top: 40px;
  }
  &__narration--interval {
    @include open-sans;
    margin-top: 15px;
    margin-bottom: 33px;
  }
}


// styles for "company" 
.company {
  margin-top: 90px;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    opacity: 0.8;
  }
}


// styles for "About Us"
.about-us {
  display: flex;
  justify-content: space-between;
  margin-top: 116px;
  &__wrapper {
    background: #E1F0F7;
    width: 543px;
    padding-left: 30px;
    padding-bottom: 27px;
    margin-bottom: 155px;
  }
  &__title {
    @include montserrat ($font-size: 38px);
    margin-top: -24px;
  }
  &__text {
    @include crimson-text($line-height: 34px, $font-size: 26px);
    margin-top: 7px;
  }
  &__narration {
    @include open-sans;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 460px;
  }
  &__group {
    background: #E1F0F7;
    width: 580px;
    height: 210px;
    padding-left: 30px;
  }
  &__story {
    @include open-sans;
    margin-top: 20px;
    width: 460px;
  }
  &__map{
    width: 483px;
    height: 200px;
    margin-top: 30px;
  }
}


// styles for pop-up
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  background: rgba(125, 151, 218, 0.8);
  z-index: 2;
  display: none;
  align-items: center;
  justify-content: center;
  &__wrap {
    position: relative;
  }
  &__cross {
    background: none;
    border: none;
    @include image-property (35px, 35px);
    background-image: url(../img/icons/closing_cross.svg);
    position: absolute;
    left: 688px;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
      transition: $primary-transition;
     }
     &:active {
      opacity: 0.4;
    }
  }
  &__open {
    display: flex
  }
}



// blog page styling

// styles for the main content of a blog page
.blog {
  margin-bottom: 45px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    row-gap: 34px;
  }
  &__item {
    max-width: 380px;
  }
  &__dating-text {
    @include open-sans;
    margin-top: 18px;
    margin-bottom: 10px;
    color: #818181;
    mix-blend-mode: normal;
  }
  &__subtitle {
    @include montserrat ($line-height: 31px, $font-size: 24px, $text-transform: none);
    width: 380px;
    color: $color-text;
    &:hover {
      text-decoration: underline;
    }
  }
  &__description {
    @include open-sans ($line-height: 25px, $font-size: 18px,);
    margin-top: 15px;
  }
}



// catalog page styling

// styles for the main content of the catalog page
.catalog-list {
  display: flex;
  margin: 0 -10px -20px -10px;
  flex-wrap: wrap;
  &__item {
    position: relative;
    margin: 0 10px 20px 10px;
    width: 280px;
    &:nth-child(3) {
      margin-right: 205px;
    }
    &:nth-child(4) {
      margin-left: 210px;
    }
  }
}
.Description {
  margin: 59px 200px;
  width: 645px;
  margin-bottom: 53px;
  &__title {
    @include montserrat ($font-size: 38px);
    margin-bottom: 25px;
  }
  &__text {
    @include open-sans;
    margin-top: 16px;
  }
}



// contact page styling

// styles for the main content of the contact page
.contacts {
  display: flex;  
  justify-content: space-between;
  margin-bottom: 61px;
  &__wrap {
    width: 380px;
  }
  &__text {
    @include open-sans;
    margin-bottom: 20px;
  }
  &__title {
    @include montserrat ($line-height: 34px, $font-size: 26px, $font-weight: 600);
    color: $primary-color;
  }
}



// stylization of the catalog page with toys

// styles for service selection preference
.preferences {
  height: 254px;
  background: rgba(125, 151, 218, 0.2);
  margin-bottom: 60px;
  &__wrap {
    display: flex;
    justify-content: space-between;
    width: 1094px;
  }
  &__fieldset {
    border: none;
    margin-top: 42px;
  }
  &__label {
    @include open-sans ($font-weight: 700);
    display: flex;
    margin-left: -12px;
    margin-top: -5px;
  }
  &__slider {
    appearance: none;
    width: 188px;
    cursor: pointer;
    height: 4px;
    margin-top: 24px;
    &::-webkit-slider-thumb {
      appearance: none;
      border: 9px solid $primary-color;
      height: 24px;
      width: 24px;
      border-radius: 38px;
      background: #FFFFFF;
      cursor: pointer;
      margin-top: -11px;
    }
    &::-webkit-slider-runnable-track {
      height: 4px;
      background: rgba(0, 0, 0, 0.5);
    }
    &:focus::-webkit-slider-runnable-track {
      background: $primary-color;
    }
  }
  &__slider-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
  }
  &__digits {
    @include open-sans;
    margin-left: -12px;
    margin-right: -6px;
  }
  &__appellation {
    @include open-sans ($font-weight: 700);
  }
  &__grouping {
    margin-bottom: 10px;
    position: relative;
  }
  &__amount-wrap {
    float: left; 
  }
  &__amount-label {
    @include open-sans;
    display: inline-block;
    padding: 6px 19px;
    user-select: none;   
  }
  &__amount-input {
    @include reset-standard;
  }
  &__amount-lengthening {
    padding: 6px 28px;
  }
  &__amount-input+&__amount-label {
    background: #FFFFFF;
  }
  &__amount-input+&__amount-label:hover {
    background: #EDDEEB;
    color: #877379;
    transition: $primary-transition;
  }
  &__amount-input:checked+&__amount-label {
    background: #F3D0DB;
  }
  &__btn-wrap {
    margin-top: 67px;
  }
}

.input-radio {
  @include reset-standard;
}
.radio-label {
  @include open-sans;
  margin-left: 30px;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  &::before {
    content: ''; 
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid $primary-color;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-color: $primary-color;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    top: 4px;
    left: 4px;
    opacity: 0;
    transition: opacity .1s linear;
  }
}
.input-radio:checked+.radio-label::after {
  opacity: 1;
}


.toy-category{
  display: flex;
  flex-wrap: wrap;
  &__item {
    position: relative;
    margin-bottom: 45px;
  }
  &__link::before {
    @include montserrat($line-height: 29px, $font-size: 26px,);
    content: 'learn more';
    color: $color-text;
    padding-top: 88px;
    text-align: center;
    background: #E5EAF8;
    position: absolute;
    width: 207px;
    height: 207px;
    top: 40%;
    left: 49%;
    transform: translate(-50%, -50%);
    opacity: 0;
    cursor: pointer;
  }
  &__link:hover::before {
    opacity: 0.9;
    transition: $primary-transition;
  }
  &__link:active::before {
    opacity: 0.67;
  }
  &__description {
    @include open-sans ($line-height: 19px, $font-size: 14px);
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
  }
  &__price {
    @include open-sans ( $font-weight: 700);
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;
  }
}