<section class="breadcrumbs">
    <h1 class="breadcrumbs__title">@@title</h1>
    <div>
        <nav>
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item">
                    <a href="./index.html" class="breadcrumbs__link">Home</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="@@href" class="breadcrumbs__link breadcrumbs__link--translucent">@@text</a>
                </li>
            </ul>
        </nav>
    </div>
</section>