<form action="#" class="contact-form">

    <div>

        <div>
            <label for="input-name" class="contact-form__label">Name</label>
            <input type="text" id="input-name" placeholder="Ivan Ivanov" class="contact-form__input-name">
        </div>

        <div class="contact-form__wrapped-fields">

            <div>
                <label for="input-phone" class="contact-form__label">Phone</label>
                <input type="number" id="input-phone" class="contact-form__input-phone">
            </div>

            <div>
                <label for="input-email" class="contact-form__label">Email</label>
                <input type="email" id="input-email" class="contact-form__input-email">
            </div>

        </div>

        <div>
            <label for="textarea" class="contact-form__label">Message</label>
            <textarea id="textarea" class="contact-form__input-message" maxlength="400"></textarea>
        </div>

            <div class="contact-form__wrap-processing">
                <input type="checkbox" id="input-processing" class="custom-checkbox">
                <label for="input-processing" class="checkbox-label contact-form__label">By clicking on the button, you consent to the processing of your personal data</label>
            </div>

        <button class="button-link" type="submit">Submit</button>

    </div>

</form>