<section class="pagination">
    <h2 class="hidden-title ">Pagination</h2>
    
    <div class="pagination__wrap">
        <a href="#" class="pagination__vector-left"></a>
        <ul class="pagination__list">
            <li><span class="pagination__digit">1</span></li>
            <li><span class="pagination__digit">2</span></li>
            <li><span class="pagination__digit">3</span></li>
            <li><span class="pagination__digit">4</span></li>
        </ul>
        <a href="#" class="pagination__vector-right">
        </a>
    </div>

</section>